---
import '../styles/global.css';

const nav = [
{
    href: '/',
    label: 'Home',
},
{
    href: '/about',
    label: 'About',
},
{
    href: '/blog',
    label: 'Blog',
},
]
---
    <nav>
        <ul class="nav-links">
            {nav.map(link => (
                <li><a class="nav" href={link.href}>{link.label}</a></li>
                ))}
        </ul>
    </nav>

    <!-- <style>
        ul{
            display: flex;
            align-items: center;
            gap: 10px;
            list-style: none;
            
        }
        a{
            text-decoration: none;
        }
    </style> -->